@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #3171de;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #3d3d3d;
  background-color: #fff;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

/* ----- Other ----- */
.btn {
  padding: 0 25px;
  min-width: 48px;
  height: 48px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.btn-primary {
  background: var(--primary-color);
  color: white;
}

h2.title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #f3bc4c;
  text-transform: uppercase;
}

.brick {
  position: absolute;
  top: 0;
  left: -80px;
  background: #ffffff;
}

.description {
  width: 784px;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  word-wrap: break-word;
}

.detail {
  width: 729px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  word-wrap: break-word;
}

.circle-point {
  position: absolute;
  top: 0px;
  left: -79px;
  width: 32px;
  height: 32px;
  border-radius: 999px;
}

.divider {
  width: 100%;
  border-top: 1px solid #dedee9;
}

/* ----- Header ----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 50px;
}

.navigation-menu {
  display: flex;
  align-items: center;
  gap: 74px;
  width: fit-content;
  padding: 16px 68px;
  border-radius: 50px;
  background: #f7f7fd;
}

.navigation-menu span {
  font-weight: 500;
  cursor: pointer;
}

.navigation-menu span:hover {
  color: var(--primary-color);
}

.lang-call {
  display: flex;
  align-items: center;
  gap: 30px;
}

.lang-selection {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* ----- Main ----- */
main {
  padding: 108px 73px;
}

.about {
  padding: 0 0 0 60px;
  width: 100%;
  height: fit-content;
  border-left: 4px solid;
  border-image: linear-gradient(180deg, #6cc6f3 0%, #97c686 26%, #6cc6f3 100%) 1;
  border-radius: 8px;
}

/* About us */
.about-us {
  position: relative;
  padding-bottom: 260px;
}

.about-us .brick {
  padding-bottom: 16px;
}

.about-us .detail {
  margin-top: 186px;
  padding: 26px;
}

.about-us .image-container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

/* Our story */
.our-story {
  position: relative;
  padding-bottom: 270px;
}

.our-story .brick {
  padding-bottom: 16px;
}

.our-story .image-container {
  position: absolute;
  top: 0;
  right: 0;
}

/* Since, Yearly */
.since,
.yearly,
.start-up {
  position: relative;
  margin-bottom: 200px;
}

.since .circle-point,
.yearly .circle-point,
.start-up .circle-point {
  background-color: #94c790;
}

.since .title,
.since .detail,
.yearly .title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

.since .title {
  margin-bottom: 44px;
}

.since .detail {
  width: 468px;
  line-height: 48px;
}

.yearly .title {
  margin-bottom: 171px;
  line-height: 48px;
}

.yearly .avatar-container {
  position: relative;
  height: 300px;
  width: 1083px;
  margin: 0 auto;
}

.yearly .avatar-job {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.yearly .avatar-job p {
  width: 139px;
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.yearly .avatar-container .avatar-job:nth-child(1) {
  position: absolute;
  bottom: 70px;
  left: 0;
  z-index: 1;
}

.yearly .avatar-container .avatar-job:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 2;
}

.yearly .avatar-container .avatar-job:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 200px;
  z-index: 3;
}

.yearly .avatar-container .avatar-job:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 350px;
  z-index: 4;
}

.yearly .avatar-container .avatar-job:nth-child(5) {
  position: absolute;
  bottom: 0;
  left: 500px;
  z-index: 5;
}

.yearly .avatar-container .avatar-job:nth-child(6) {
  position: absolute;
  bottom: 0;
  left: 650px;
  z-index: 6;
}

.yearly .avatar-container .avatar-job:nth-child(7) {
  position: absolute;
  top: 60px;
  left: 800px;
  z-index: 1;
}

/* Startup */
.start-up {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 290px;
}

.start-up .circle-point {
  top: 255px;
}

.start-up .title,
.review-slide .title {
  width: 452px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  word-wrap: break-word;
}

.start-up .companies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}

.start-up .companies .comp-container {
  width: 152px;
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.07);
}

/* Kind words */
.review-slide {
  position: relative;
  height: 900px;
  margin-bottom: 180px;
}

.review-slide .circle-point {
  background-color: #81c7c1;
}

.review-slide .review-container {
  position: absolute;
  top: 106px;
  left: -140px;
  padding: 79px 0 79px 48px;
  width: 100vw;
  z-index: 10;
}

.review-slide .slide {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 79px;
  overflow: hidden;
}

.review-slide .review {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 35px;
  min-width: 395px;
  border: 1px solid #f0f0f6;
  border-radius: 22px;
  box-shadow: 0 3px 9px rgba(13, 10, 44, 0.06);
  background: white;
  overflow: hidden;
}

.review-slide .review .title {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  word-wrap: break-word;
}

.review-slide .review .detail {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  word-wrap: break-word;
}

.review-slide .review .info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.review-slide .review .info-detail .name {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #1e1b39;
}

.review-slide .control-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.review-slide .control-btns .btn {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: #f7f7fd;
}

/* How */
.how {
  position: relative;
  margin-bottom: 269px;
}

.how .circle-point {
  background: #7ac7d2;
}

.how .title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.how .years {
  display: flex;
  align-items: stretch;
  gap: 52px;
}

.how .years div {
  flex: 1;
  padding: 30px;
  width: 385px;
  border-radius: 36px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.13);
}

.how .years .detail {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
}

.how .years .year-gradient {
  margin-bottom: 19px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.how .years .left .year-gradient {
  background: linear-gradient(45deg, #3171de, #704af2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.how .years .center .year-gradient {
  background: linear-gradient(45deg, #62ae6e, #ede14f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.how .years .right .year-gradient {
  background: linear-gradient(45deg, #3171de, #704af2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Satisfaction */
.satisfaction {
  position: relative;
  margin-bottom: 320px;
  display: flex;
  align-items: center;
  gap: 43px;
}

.satisfaction .circle-point {
  background-color: #75c7de;
  top: 80px;
}

.satisfaction .title {
  width: 662px;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  word-wrap: break-word;
}

.percentage {
  width: 209px;
  height: 209px;
  border-radius: 999px;
  border: 2px solid #62ae6e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "DM Sans" sans-serif;
  font-size: 73px;
  font-weight: 700;
  line-height: 99px;
  color: #62ae6e;
}

/* Join us */
.join-us {
  position: relative;
  height: 1150px;
}

.join-us .container {
  position: absolute;
  top: 0;
  left: -100px;
  width: 1345px;
  padding: 0 36px 70px;
  border-radius: 34px;
  background: linear-gradient(200deg, #3171de, #4ac0f2);
}

.join-us .box {
  position: relative;
  width: 100%;
  padding: 64px;
  border-left: 4px solid white;
}

.join-us .box .circle-point:nth-child(1) {
  background-color: white;
  top: 68px;
  left: -17px;
}

.join-us .box .circle-point:nth-child(2) {
  background-color: white;
  top: unset;
  bottom: 0px;
  left: -17px;
}

.join-us .box .title {
  margin-bottom: 38px;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  color: white;
}

.join-us .box .detail {
  width: 1110px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: white;
}

.join-us .box .btn-gradient {
  background: linear-gradient(200deg, #3171de, #4ac0f2);
  color: white;
}

/* ----- Footer ----- */
footer {
  padding: 133px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Up */
footer .up {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;
}

footer .up .product,
footer .up .information,
footer .up .company {
  min-width: 197px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .up h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #0a142f;
}

footer .up .product p,
footer .up .information p,
footer .up .company p {
  font-size: 16px;
  font-weight: 400;
  color: #919397;
}

footer .up .subscribe {
  padding: 32px 46px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 30px;
  background: rgba(32, 60, 134, 0.05);
}

footer .up .subscribe h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #0a142f;
}

footer .up .subscribe .email-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
  border-radius: 30px;
  background: #ffffff;
  stroke: #e7e8f2;
}

footer .up .subscribe input {
  padding: 12px 24px;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

footer .up .subscribe .btn {
  min-width: 54px;
  padding: 0;
  height: 100%;
}

footer .up .subscribe .detail {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

/* Down */
footer .down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

footer .down ul {
  display: flex;
  align-items: center;
  gap: 44px;
}

footer .down li {
  cursor: pointer;
}

footer .down li:hover {
  color: var(--primary-color);
}

footer .down .social {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

footer .down .social .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #0a142f;
  border-radius: 999px;
}