@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #3171de;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #3D3D3D;
  background-color: #fff;
}

ul, ol {
  list-style: none;
}

/* ----- Components ----- */
/* Button */
.btn {
  padding: 0 25px;
  min-width: 48px;
  height: 48px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.btn-primary {
  background: var(--primary-color);
  color: white;
}

h2.title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #F3BC4C;
  text-transform: uppercase;
}

.brick {
  position: absolute;
  top: 0;
  left: -80px;
  background: #ffffff;
}

.description {
  width: 784px;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  word-wrap: break-word;
}

.detail {
  width: 729px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  word-wrap: break-word;
}

/* ----- Header ----- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 50px;
}

.navigation-menu {
  display: flex;
  align-items: center;
  gap: 74px;
  width: fit-content;
  padding: 16px 68px;
  border-radius: 50px;
  background: #f7f7fd;
}

.navigation-menu span {
  font-weight: 500;
  cursor: pointer;
}

.navigation-menu span:hover {
  color: var(--primary-color);
}

.lang-call {
  display: flex;
  align-items: center;
  gap: 30px;
}

.lang-selection {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* ----- Main ----- */
main {
  padding: 108px 73px;
}

.about {
  padding: 0 0 0 60px;
  width: 100%;
  height: fit-content;
  border-left: 4px solid;
  border-image: linear-gradient(180deg, #6CC6F3 0%, #97C686 30%, #97C686 70%, #6CC6F3 100%) 1;
  border-radius: 8px;
}

/* About us */
.about-us {
  position: relative;
  padding-bottom: 260px;
}

.about-us .brick {
  padding-bottom: 16px;
}

.about-us .detail {
  margin-top: 186px;
  padding: 26px;
}

.about-us .image-container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

/* Our story */
.our-story {
  position: relative;
  padding-bottom: 270px;
}

.our-story .brick {
  padding-bottom: 16px;
}

.our-story .image-container {
  position: absolute;
  top: 0;
  right: 0;
}



/*
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
    border-left: none;
    border-top: 4px solid #e0f7ff;
    padding-top: 20px;
  }

  .image-container {
    margin-top: 20px;
  }

  .section-image {
    max-width: 100%;
  }
} */